* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kantumruy Pro', sans-serif;
  background-color: #0d0c0c;
  color: #f1f1f1;
}

#header {
  margin-top: 20px;
  width: 100%;
  height: 10rem;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header h3 {
  font-weight: 400;
  font-size: 30px;
}

#ordo {
  max-height: 80%;
}

#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 5vw;
}

#details {
  width: 80%;
  border: 1px solid #505050;
  border-radius: 10px;
  padding: 30px;
}

#details h2 {
  text-align: center;
}

.tag input {
  width: 95%;
  background-color: unset;
  border: none;
  color: #f1f1f1;
  border-bottom: 1px solid #505050;
  margin-left: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  margin-top: 5px;
}

.tag + .tag {
  margin-top: 20px;
}

#profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#icon {
  text-align: center;
}

#kaiser {
  background-image: url(../imgs/marcaKaiser.png);
  background-size: 120%;
  background-position: center;
  background-color: #09080D;
  width: 25%;
  border-radius: 100px;
  border: 1px #f1f1f1 solid;
  margin: 0 auto;
  -webkit-box-shadow: #a681538e 0px 5px 15px;
          box-shadow: #a681538e 0px 5px 15px;
}

.bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  gap: 20px;
}

.bars button {
  padding: 5px 50px;
  border: none;
  background-color: #A68053;
  cursor: pointer;
  border-radius: 5px;
  font-size: 19px;
}

.barras {
  width: 100%;
  height: 100%;
  position: relative;
}

.barras h2 {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 1.3em;
  width: 100%;
  text-align: center;
}

.titles {
  margin-left: 130px;
  margin-bottom: .5em;
}

.background {
  position: relative;
  width: 100%;
  background-color: var(--bg);
  height: 100%;
}

.colors {
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 100%;
  background-color: var(--bg);
  max-width: 100%;
  min-width: 0%;
  height: 100%;
}

.conditionals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  margin-top: 5px;
}

#info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  gap: 10px 20px;
  font-size: 1rem;
}

#info input {
  width: 100%;
  background-color: unset;
  border: none;
  color: #f1f1f1;
  border-bottom: 1px solid #505050;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #details {
    grid-column: span 2;
  }
  #profile {
    grid-column: span 2;
  }
  #profile button {
    padding: 5px 10px;
  }
  .titles {
    margin-left: 50px;
  }
  .conditionals {
    padding: 0 5px;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  header {
    height: 6em !important;
  }
  #main {
    gap: 20px !important;
  }
  .conditionals {
    padding: 0 20px;
  }
  button {
    padding: 5px 10px !important;
  }
  .titles {
    margin-left: 50px;
  }
}
/*# sourceMappingURL=style.css.map */